<p>registros</p>

<section id="{{ registro.id }}" class="c-registro" 
*ngFor="let registro of registros" 
[ngClass]="{
checked: registro.status === 'check',
vished: registro.status === 'vish'}"
>
    <div class="c-registro__icon {{ registro.cor }}" (click)="registro.selected = !registro.selected">
        <img src="../../assets/icones/icon__{{registro.icone }}.svg">
    </div>
    <div class="c-registro__content" (click)="registro.selected = !registro.selected">
        <h2 class="c-registro__title"> {{ registro.titulo }}</h2>
        <div class="btn-registro__container" *ngIf="registro.selected">
            <button class="btn-registro__check" (click)="registro.status = 'check'">Check!</button>
            <button class="btn-registro__vish" (click)="registro.status = 'vish'">Vish...</button>
        </div>
    </div>
    <button class="btn-registro__historico">ver histórico</button>
    
</section>
