.c-registros{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    overflow-y: auto;


    @media screen and (min-width: 768px) {
       
        position: absolute;
        right: 0;
        height: 100%;
    }

    main{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    header{
        width: 100%;
        display: flex;
        justify-content: center;
    }

}

.c-registro{
    background-color: white;
    width: 95%;
    max-width: 400px;
    height: 120px;
    min-height: 110px;
    border-radius: 10px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 9px 25px -11px #00000040;
    transition: .6s;
    -webkit-tap-highlight-color: transparent;
    animation: scaleIn 0.4s both;
    

    @media screen and (min-width: 768px) {
        min-width: 20%;
    }


    &__title{
        font-size: 1em;
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        transition: .4s;
        cursor: pointer;
    }

    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 10px;
        height: 100px;
        width: 100px;
        border-radius: 100px;
        cursor: pointer;
        
    }

    &__content{
        height: 100%;
        width: 70%;
        right: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;  
        flex-direction: column;   
        transition: .4s   
    }
}

.checked{
    background-color: #e3e3e3;

    h2{
       
        color: #6faf7e;
    }

    .c-registro__icon{
        background-color: #c1cfc5;
        border: 4px solid #8AD19A;

        img{
            opacity: .3;
        }
    }
}

.vished{
    background-color: #e3e3e3;

    h2{
        color: #d18080;
    }

    .c-registro__icon{
        background-color: #dfcccc;
        border: 4px solid #d18a8a;

        img{
            opacity: .3;
        }
    }
}


.btn-registro__historico{
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: .4s;

}

.btn-registro{

    &__container{
        width: 100%;
        padding-bottom: 10%;
        transition: 4s;

        span{
            font-size: .7em;
            height: 30px;
            padding: 8px 10px 8px 10px;
            border-radius: 100px;
            border: 2px solid rgb(199, 199, 199);
            color: var(--primary);
           
        }
    }
    @mixin btnRegistro($cor) {
        height: 30px;
        width: 80px;
        border-radius: 100px;
        border: none;
        margin-right: 10px;
        font-weight: 700;
        background-color: $cor;
        transition: .6s;
        animation: scaleIn 0.4s both;
        
    }

    &__check{
        @include btnRegistro(#8ceba1);
    }

    &__vish{
        @include btnRegistro(#ffa9a9);
    }
    
}

@keyframes btnSlideUp {
    0%{
        opacity: 0;
        transform: translateY(15px);}
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes scaleIn {
    0%{
        opacity: 0;
        transform: scale(0.5);}
    100%{
        transform: scale(1);
        opacity: 1;
    }
}


.btn-novo-registro{
    background-color: var(--primary);
    width: 95%;
    max-width: 400px;
    height: 80px;
    min-height: 70px;
    border-radius: 10px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 9px 25px -11px #00000040;
    transition: .6s;
    font-size: 1.3em;
    font-weight: bolder;
    border: none;
    color: white;

    @media screen and (min-width: 768px) {
        width: 40vw;
        
    }

    &::after{
        content: '';
        background-image: url(../../assets/icones/icon__plus-white.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: absolute;
        left: 35px;
        backdrop-filter: brightness(1.2);
        // background-color: var(--white);
    }
    
}









.yellow{
    background-color: rgb(252, 252, 160);
}

.blue{
    background-color: rgb(169, 169, 255);
}

.pink{
    background-color: rgb(255, 161, 208);
}

.green{
    background-color: rgb(160, 252, 172);
}

.red{
    background-color: rgb(255, 169, 169);
}
