main{
    width: 100vw;
    height: 100vh;
    background-color: #DDDDDD;

    @media screen and (min-width: 768px) {
        width: 80vw;
        height: 100vh;
        position: absolute;
        right: 0;
    }
}