@import './app/registros/registros.component.scss';
@import './app/shared/menu-nav/menu-nav.component.scss';

:root{
    --white: #fff;
    --black: #000;
    --primary: rgb(62 57 80);
    --secondary: #e3e;
    --bg: #DDDDDD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


button{
    cursor: pointer;
}